@import './variables/global';
@import './reset';
@import './themes/dark';
@import './themes/light';

body {
  font: var(--font-m);
}

.app {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
}
