@import './variables/global.scss';
@import './reset.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
  font: var(--font-m);

  background-color: var(--bg-primary);
  color: var(--text-primary);

  min-height: 100vh;
}

.page-wrapper {
  display: flex;
}

.page {
  flex-grow: 1;
  padding: 24px;
}
