.selectWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.select {
  padding: 4px 8px;
  border: 1px solid var(--text-secondary);
  outline: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.option {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
