.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-full-width);
  flex-shrink: 0;

  background-color: var(--bg-secondary);
  color: var(--text-secondary);

  transition: width 0.2s ease-out;
}

.collapse {
  width: var(--sidebar-width);
}
