.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-full-width);
  flex-shrink: 0;
  position: relative;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: width 0.2s ease-out;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  width: 100%;

  &_link {
    opacity: 1;
    width: 100%;
    transition: all 0.2s;
  }
}

.sidebarCollapsed {
  width: var(--sidebar-width);
}

.collapseButton {
  position: absolute;
  right: -32px;
  bottom: 32px;
}
