:root {
  --bg-primary: #fff;
  --bg-secondary: #cdcdcd;
  --bg-primary-invert: #343434;
  --bg-secondary-invert: #1b1b1b;
  --text-primary: #343434;
  --text-secondary: #1b1b1b;
  --text-primary-invert: #fff;
  --text-secondary-invert: #cdcdcd;
}
