.nav_item {
  display: flex;
  align-items: center;
}

.nav_link {
  margin-left: 10px;
  opacity: 1;
}

.nav_icon {
  fill: var(--text-primary);
}

.collapsedLink {
  opacity: 0;
  width: 0;
  margin-left: 0;
  transition: all 0.2s;
}
