.card {
  padding: 24px;
  border: 1px solid var(--bg-secondary-invert);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.avatar {
  margin: 0 auto;
}

.loading,
.error {
  min-height: 300px;
  display: grid;
  place-items: center;
}

.editing {
  box-shadow: 0 0 2px 1px var(--bg-primary-invert);
}
